@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes up {
  from {
    margin-top: -10px;
    opacity: 1;
  }

  to {
    margin-top: -150px;
    opacity: 0;
    display: none;
  }
}

@keyframes suffle {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  90% {
    opacity: 0.6;
    z-index: 10;
  }
  100% {
    z-index: 0;
    opacity: 0;
    display: none;
  }
}
@keyframes suffle-card {
  0% {
    margin-left: -80px;
  }
  85% {
    margin-left: -80px;
  }

  100% {
    margin-left: -20px;
  }
}
@keyframes textBreathe {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.2;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rotate-animation {
  animation-delay: 1s;
  animation: rotateY 2s;
  animation-fill-mode: forwards;
}

.up-animation {
  animation: up 2s;
  animation-fill-mode: forwards;
}

.suffle-animation {
  animation: suffle 5s;
  animation-fill-mode: forwards;
}

.textBreathe-animation {
  animation: textBreathe 5s;
}

.suffle-card-animation{  
  
  animation-timing-function: ease;
  animation:suffle-card 5s;
  animation-fill-mode: forwards;
}