@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

@keyframes up {
  from {
    margin-top: -10px;
    opacity: 1;
  }

  to {
    margin-top: -150px;
    opacity: 0;
    display: none;
  }
}

@keyframes suffle {
  0% {
    opacity: 1;


  }

  90% {
    opacity: 0.6;


  }

  95% {
    opacity: 0.5;
    z-index: 10;

  }

  100% {
    z-index: auto;
    opacity: 0;

    display: none;

  }

}

@keyframes textBreathe {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

  100% {

    opacity: 0;
  }
}

.rotate-animation {
  animation-delay: 1s;
  animation: rotateY 2s;
  animation-fill-mode: forwards;
}

.up-animation {
  animation: up 2s;
  animation-fill-mode: forwards;
}

.suffle-animation {
  animation: suffle 11s;
  animation-fill-mode: forwards;
}

.textBreathe-animation {
  animation: textBreathe 11s;


}